<head lang='en'>
    <meta charset='UTF-8'>
    <title>{{.}}</title>
    <meta name='description' content='descrip'>
    <meta name='keywords' content='keywords'>
    <meta name='author' content='author'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='/css/css_reset.css'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Droid+Sans:400'>
    <link rel='stylesheet' href='/css/app.css'>
    <link rel='stylesheet' href='/css/flyout_button.css'>
    <link rel='stylesheet' href='/css/flyout_menu.css'>
    <link rel='shortcut icon' href='/img/favicon.ico'>
</head>