<!DOCTYPE html>
<html>
{{template "_head.html" .Title}}
<body>
{{template "_sidebar.html" .}}
<article>
    <blockquote cite="http://codepen.io/GoesToEleven/pen/QbbVRa">
        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible
            vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly,
            slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed
            ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved
            about helplessly as he looked.</p>
        <p><cite>&#8212; <a href="http://codepen.io/GoesToEleven/pen/QbbVRa" target="_blank">The Metamorphoses</a></cite></p>
    </blockquote>
</article>
{{template "_foot.html"}}
</body>
</html>

