<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../public/css/temp_form.css" rel="stylesheet">
</head>
<body>

<!--<i class="icon-search dosearch"></i>-->

<form role="search" class="active">
    <input type="search" name="s" id="s" placeholder="Search"/>
    <svg width="40" xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve"><path class="icon-plus-sign" d="M20 40C9 40 0 31 0 20S9 0 20 0s20 9 20 20S31 40 20 40zM31.7 18.3c0-0.9-0.8-1.7-1.7-1.7h-6.7V10c0-0.9-0.8-1.7-1.7-1.7h-3.3c-0.9 0-1.7 0.8-1.7 1.7v6.7H10c-0.9 0-1.7 0.8-1.7 1.7v3.3c0 0.9 0.8 1.7 1.7 1.7h6.7V30c0 0.9 0.8 1.7 1.7 1.7h3.3c0.9 0 1.7-0.8 1.7-1.7v-6.7H30c0.9 0 1.7-0.8 1.7-1.7V18.3z"/></svg>

    <i class="icon-plus-sign"></i>
</form>

<!--<script src="../public/scripts/temp_form.js"></script>-->
</body>
</html>